<tr>
  <td>
    <%= technician.name %>
  </td>

  <td>
    <%= technician.jmbg %>
  </td>

  <td>
    <%= technician.dob %>
  </td>

  <td>
    <%= technician.sex %>
  </td>

  <td>
    <%= link_to 'Destroy Technician', [technician],
                :confirm => 'Are you sure?',
                :method => :delete %>
  </td>
  <td>
    <%= link_to 'Show', technician %>
  </td>
</tr>