<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @technician.name %>
</p>

<p>
  <b>JMBG:</b>
  <%= @technician.jmbg %>
</p>

<p>
  <b>DOB:</b>
  <%= @technician.dob %>
</p>

<p>
  <b>Sex:</b>
  <%= @technician.sex %>
</p>

<h2>Visits</h2>
<table>
  <thead>
  <td>Date</td>
  <td>Diagnose</td>
  <td>Symptoms</td>
  <td>Patient</td>
  <td>Technician</td>
  </thead>
  <tbody>
  <%= render @technician.visits %>
  </tbody>
</table>

<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
