<tr>
  <td>
    <%= comment.commenter %>
  </td>

  <td>
    <%= comment.body %>
  </td>

  <td>
    <%= link_to 'Destroy Comment', [comment.patient, comment],
                :confirm => 'Are you sure?',
                :method => :delete %>
  </td>
</tr>