<%= form_for(@visit) do |f| %>
    <% if @visit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

          <ul>
            <% @visit.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :date %>
      <br/>
      <%= f.datetime_select :date %>
    </div>
    <div class="field">
      <%= f.label "Address" %>
      <br/>
      <%= f.text_area :address %>
    </div>
    <div class="field">
      <%= f.label "Vitals" %>
      <br/>
      <%= f.text_area :diagnose %>
    </div>
    <div class="field">
      <%= f.label :symptoms %>
      <br/>
      <%= f.text_area :symptoms %>
    </div>
    <div class="field">
      <%= f.label :patient %>
      <br/>
      <%= f.collection_select :patient_id ,@patients,:id,:name %>
    </div>
    <div class="field">
      <%= f.label :technician %>
      <br/>
      <%= f.collection_select :technician_id ,@technicians,:id,:name %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
