<tr>
  <td>
    <%= visit.date %>
  </td>

  <td>
    <%= visit.diagnose %>
  </td>

  <td>
    <%= visit.symptoms %>
  </td>

  <td>
    <%= visit.patient.name %>
  </td>

  <td>
    <%= visit.technician.name %>
  </td>

  <td>
    <%= link_to 'Destroy Visit', [visit.patient, visit],
                :confirm => 'Are you sure?',
                :method => :delete %>
  </td>
  <td>
    <%= link_to 'Show', visit %>
  </td>
</tr>