<h1>Listing Visits</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Address</th>
    <th>Diagnose</th>
    <th>Symptoms</th>
    <th>Patient</th>
    <th>Technician</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.date %></td>
    <td><%= visit.address %></td>
    <td><%= visit.diagnose %></td>
    <td><%= visit.symptoms %></td>
    <td><%= visit.patient.name %></td>
    <td><%= visit.technician.name %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit', new_visit_path %>
<%= link_to 'Show Patients', patients_path %>
<%= link_to 'Show Technicians', technicians_path %>


<%= @additional_param %>