<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @visit.date %>
</p>

<p>
  <b>Vitals:</b>
  <%= @visit.diagnose %>
</p>

<p>
  <b>Symptoms:</b>
  <%= @visit.symptoms %>
</p>

<h2>Patient</h2>
<table>
  <thead>
  <td>Name</td>
  <td>JMBG</td>
  <td>DOB</td>
  <td>Sex</td>
  <td></td>
  <td></td>
  </thead>
  <tbody>
  <%= render @visit.patient %>
  </tbody>
</table>

<h2>Technician</h2>
<table>
  <thead>
  <td>Name</td>
  <td>JMBG</td>
  <td>DOB</td>
  <td>Sex</td>
  <td></td>
  <td></td>
  </thead>
  <tbody>
  <%= render @visit.technician %>
  </tbody>
</table>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
