<tr>
  <td>
    <%= patient.name %>
  </td>

  <td>
    <%= patient.jmbg %>
  </td>

  <td>
    <%= patient.dob %>
  </td>

  <td>
    <%= patient.sex %>
  </td>

  <td>
    <%= link_to 'Destroy Patient', [patient],
                :confirm => 'Are you sure?',
                :method => :delete %>
  </td>
  <td>
    <%= link_to 'Show', patient %>
  </td>
</tr>