<h1>Listing patients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>JMBG</th>
    <th>DOB</th>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= patient.name %></td>
    <td><%= patient.jmbg %></td>
    <td><%= patient.dob %></td>
    <td><%= patient.sex %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
<%= link_to 'Show Visits', visits_path %>
<%= link_to 'Show Technicians', technicians_path %>
