<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>JMBG:</b>
  <%= @patient.jmbg %>
</p>

<p>
  <b>DOB:</b>
  <%= @patient.dob %>
</p>

<p>
  <b>Male:</b>
  <%= @patient.sex %>
</p>

<h2>Visits</h2>
<table>
  <thead>
  <td>Date</td>
  <td>Diagnose</td>
  <td>Symptoms</td>
  <td>Patient</td>
  <td>Technician</td>
  </thead>
  <tbody>
  <%= render @patient.visits %>
  </tbody>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
